.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-left: 5vw;
  margin-right: 5vw;
}

.links {
  text-decoration: none;
  color: black;
}

#orange3 {
  color: orangered;
}

.headerDecoration {
  width: 100px;
  height: 20px;
  background-color: black;
}

.articles {
  border: solid;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
}

.articles img {
  width: 300px;
  border-radius: 15px;
}

#home-article-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#ArticlesByTopic-article-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#SingleArticle-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

#SingleArticle-main img {
  width: 100%;
}

.comment-section {
  border: solid;
  border-radius: 20px;
}

.comment-article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  border: solid;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

#comment-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

#comment-form input {
  width: 250px;
  height: 30px;
  border-radius: 20px;
}
#submit-comment-button {
  height: 30px;
  width: 70px;
  margin: 10px;
  border-radius: 10px;
}

#submit-comment-button:active {
  background-color: rgb(222, 116, 77);
}

#user-account-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.user-card {
  border: solid #282c34;
  border-radius: 20px;
  width: 250px;
  height: 350px;
  margin: 10px;
  padding: 10px;
}

.avatar {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border: solid;
  border-radius: 50%;
}

.vote-button {
  margin: 10px;
}

.vote-button:active {
  background-color: rgb(222, 116, 77);
}

#error-p {
  margin: 10px;
}

#sorting-select {
  margin: 10px;
}
